<div class="swiper w-100" data-controller="swipe coordinates">
  <div class="swiper__content">
    <div class="swiper__card-cont">
      <% @users.each do |user| %>

        <div class="swiper__card "
              data-swipe-target="card"
              data-id="<%= user.id %>"
              data-current="<%= current_user.id %>"
              >
          <div class="swiper__card__content">

            <div class="swiper__card__content_top">
              <%# La partie du haut de la carte %>
            </div>
            <div class="avatar-profil mb-2">
              <%= cl_image_tag user.avatar_url, class: 'swiper__card__img rounded-circle w-100 h-100 object-fit-cover' %>
            </div>

            <!-- Name -->
            <div class="name mt-2">
              <h2><%= user.name %></h2>
            </div>
            <!--info Section -->
            <div class="stats-container">
              <div class="stats-item">
                <p><%= user.age %></p>
                <%# <small>Âge</small> %>
              </div>
              <div class="stats-item">
                <p>5 km</p>
                <%# <small>Distance</small> %>
              </div>
              <div class="stats-item">
                <p><%= user.language %></p>
                <%# <small>Langues</small> %>
              </div>
            </div>

            <!-- Reponses -->
            <section>
              <div class="container swiper-custom-container">
                <div class="answers">
                  <!-- Image 1 -->
                  <div class="col-12 col-md-3">
                    <div class="">
                      <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_bar_warrp5.jpg"
                          class="img-fluid"
                          alt="Fête"
                          style="border-radius: 10px; height: 180px; width: 108px">
                    </div>
                  </div>
                  <!-- Image 2 -->
                  <div class="col-12 col-md-3">
                    <div class="">
                      <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723115/flashcard_vacances_foret_yff6lv.jpg"
                          class="img-fluid"
                          alt="Parachutisme"
                          style="border-radius: 10px; height: 180px; width: 108px">
                    </div>
                  </div>
                  <!-- Image 3 -->
                  <div class="col-12 col-md-3">
                    <div class="">
                      <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723113/flashcard_interest_famille_blhbzy.jpg"
                          class="img-fluid"
                          alt="Cocktail"
                          style="border-radius: 10px; height: 180px; width: 108px">
                    </div>
                  </div>
                  <!-- Image 4 -->
                </div>
              </div>
            </section>


            <!-- Events -->
            <div class="events-title">
              <h5>Événements</h5>
            </div>
            <div class="events-container mt-2">
              <div class="event-item">
                <div class="event-icon event1"></div>
                <p class="event-text">Beach-Volley à Pantin</p>
              </div>
              <div class="event-item">
                <div class="event-icon event2"></div>
                <p class="event-text">Soirée Latino au Salsero</p>
              </div>
              <div class="event-item">
                <div class="event-icon event3"></div>
                <p class="event-text">Soirée Bachata au Cabaret Sauvage</p>
              </div>
            </div>

            <div class="swiper__card__content_bottom">
              <p class="swiper__card__name"></p>
              <p class="swiper__card__distance"></p>
            </div>

          </div>
          <div class="swiper__card__choice m--reject"></div>
          <div class="swiper__card__choice m--like"></div>
          <div class="swiper__card__drag"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal fade" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog success-modal-dialog top-30">
      <div class="modal-content success-modal-content">
        <div class="modal-body success-modal-body body-better" data-swipe-target="modalBody"></div>
      </div>
    </div>
  </div>
</div>
