<div class="swiper w-100" data-controller="swipe coordinates confetti" data-action="swipe:match->confetti#sendConfetti" data-confetti-duration-value=1000>
  <div class="swiper__content">
    <div class="swiper__card-cont">
      <% @users.each do |user| %>
        <div class="swiper__card "
              data-swipe-target="card"
              data-id="<%= user.id %>"
              data-current="<%= current_user.id %>"
              >
          <div class="swiper__card__content">

            <div class="swiper__card__content_top">

            </div>
            <div class="avatar-profil mb-2">
              <%= image_tag user.avatar_url, class: 'swiper__card__img rounded-circle w-100 h-100 object-fit-cover' %>
            </div>


            <div class="name mt-2">
              <h2><%= user.name %></h2>
            </div>

            <div class="stats-container">
              <div class="grid-symp">
                <div class="stats-item">
                  <i class="fa-solid fa-cake-candles"></i><p><%= user.age %></p>

                </div>
                <div class="stats-item">
                  <i class="fa-solid fa-location-dot"></i><p>5 KM</p>
                </div>
              </div>
              <div class="stats-item">
                <i class="fa-solid fa-globe"></i><p><%= user.language %></p>
              </div>
            </div>


            <section>
              <div class="container swiper-custom-container">
                <div class="answers">
                  <!-- Image 1 -->
                  <div class="col-12 col-md-3">
                    <div class="">
                      <%= image_tag "flashcard_mood_#{user.mood}.jpg", class: "img-fluid", style: "border-radius: 10px; height: 120px; width: 108px", alt: user.mood unless user.mood.nil? %>
                      <%#= cl_image_tag user.mood_image.key, class: "img-fluid", alt: user.mood, style: "border-radius: 10px; height: 180px; width: 108px" %>
                    </div>
                  </div>

                  <div class="col-12 col-md-3">
                    <div class="">
                      <%= image_tag "flashcard_interest_#{user.life_choice}.jpg", class: "img-fluid", style: "border-radius: 10px; height: 120px; width: 108px", alt: user.life_choice unless user.life_choice.nil? %>
                      <%#= cl_image_tag user.vacation_image.key, class: "img-fluid", alt: user.vacation, style: "border-radius: 10px; height: 180px; width: 108px" %>
                    </div>
                  </div>

                  <div class="col-12 col-md-3">
                    <div class="">
                      <%= image_tag "flashcard_vacances_#{user.vacation}.jpg", class: "img-fluid", style: "border-radius: 10px; height: 120px; width: 108px", alt: user.vacation unless user.vacation.nil? %>
                      <%#= cl_image_tag user.life_image.key, class: "img-fluid", alt: user.life_choice, style: "border-radius: 10px; height: 180px; width: 108px" %>
                    </div>
                  </div>

                </div>
              </div>
            </section>



            <div class="events-title">
              <h5>Events</h5>
            </div>
            <div class="events-container">
              <div class="event-item">
                <div class="event-icon event1"></div>
                <p class="event-text">Beach volley match</p>
              </div>
              <div class="event-item">
                <div class="event-icon event2"></div>
                <p class="event-text">Latino Party at Salsero</p>
              </div>
              <div class="event-item">
                <div class="event-icon event3"></div>
                <p class="event-text">Party at Cabaret Sauvage</p>
              </div>
            </div>

            <div class="swiper__card__content_bottom">
              <p class="swiper__card__name"></p>
              <p class="swiper__card__distance"></p>
            </div>

          </div>
          <div class="swiper__card__choice m--reject"></div>
          <div class="swiper__card__choice m--like"></div>
          <div class="swiper__card__drag"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal fade matches" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog success-modal-dialog top-30">
      <div class="modal-content success-modal-content">
        <div class="modal-body success-modal-body body-better" data-swipe-target="modalBody"></div>
      </div>
    </div>
  </div>
</div>
