
  <div class="swiper" data-controller="swipe coordinates">
    <div class="swiper__content">
      <div class="swiper__card-cont">
        <div class="profile-container">
            <% @users.each do |user| %>
            <div class="swiper__card"
               data-swipe-target="card"
               data-id="<%= user.id %>"
               data-current="<%= current_user.id %>">
              <%= link_to 'Profile', user_path(user), class: 'profile-link hidden' %>
              <div class="swiper__card__content">

                <div class="swiper__card__content_top">
								<%# La partie du haut de la carte %>
              </div>
          <!-- Avatar -->
          <div class="avatar">
            <% if user.avatar.attached? %>
                <%= cl_image_tag user.avatar.key, class: 'swiper__card__img' %>
              <% else %>
                <%= image_tag "avatar-1.png", class: 'swiper__card__img' %>
              <% end %>
          </div>


    <!-- User Info -->
            <div class="swiper__card__content_bottom">
                <p class="swiper__card__name">
                  <strong><%= user.name %></strong>, <span class="profile-age"><%= user.age %></span>
                </p>
                <p class="swiper__card__distance">
                </p>


    <!-- Distance & Age -->
    <div class="stats-container">
      <div>
        <p>5 km</p>
        <small>Distance</small>
      </div>
      <div>
        <p>25-30</p>
        <small>Âge</small>
      </div>
      <div>
        <p> bla bla</p>
        <small>Langues</small>
      </div>

    </div>

     <!-- About -->
    <div class="about">
      <h5 class="section-title">À propos</h5>
      <p>Je viens de Bordeaux</p>

      <div class="pro">
      <h5 class="section-title">Vie pro</h5>
      <p>Je suis ...</p>
    </div>
    </div>


    <!-- Answers -->
      <h5 class="section-title">Réponses</h5>
    <div class="answers">
      <img src="https://images.unsplash.com/photo-1450644995374-1721affb8ecd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Fête">
      <img src="https://images.unsplash.com/photo-1450644995374-1721affb8ecd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Parachutisme">
      <img src="https://images.unsplash.com/photo-1450644995374-1721affb8ecd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Cocktail">
      <img src="https://images.unsplash.com/photo-1450644995374-1721affb8ecd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Voyage">
    </div>

    <!-- Events -->
      <div class="events-container mt-4">
      <h5>Événements</h5>
      <div class="event-item">
        <div class="event-icon event1"></div>
        <p class="event-text">Beach-Volley à Pantin</p>
      </div>
      <div class="event-item">
        <div class="event-icon event2"></div>
        <p class="event-text">Soirée Latino au Salsero</p>
      </div>
      <div class="event-item">
        <div class="event-icon event3"></div>
        <p class="event-text">Soirée Bachata au Cabaret Sauvage</p>
      </div>
    </div>
    </div>
    </div>
            <div class="swiper__card__choice m--reject"></div>
            <div class="swiper__card__choice m--like"></div>
            <div class="swiper__card__drag"></div>
          </div>
        <% end %>
      </div>
      </div>
      </div>



    <!-- Modal -->

        <div class="modal fade" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog success-modal-dialog">
        <div class="modal-content success-modal-content">
          <div class="modal-body success-modal-body" data-swipe-target="modalBody">
						<%# Ici c'est la modale pour notifier que le match a eu lieu, voir controller stimulus %>

          </div>
        </div>
      </div>
    </div>
  </div>
