<div class="swiper w-100" data-controller="swipe coordinates">
    <div class="swiper__content">
      <div class="swiper__card-cont">
        <% @users.each do |profile| %>

           <%
              mood_url = case profile.mood
              when "cosy" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723362/flashcard_mood_jrkyzo.jpg"
              when "drink" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_bar_warrp5.jpg"
              when "party_night" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_fete_lesxj8.jpg"
              when "museum" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_musee_fkcqae.jpg"
              end
            %>

          <%
              vacation_url = case profile.vacation
              when "montagne" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_montagne_hc31lz.jpg"
              when "plage" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_mer_snd8ic.jpg"
              when "city" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_ville_hup7qb.jpg"
              when "forêt" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723115/flashcard_vacances_foret_yff6lv.jpg"
              end
           %>

          <%
              life_choice_url = case profile.life_choice
              when "famille" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723113/flashcard_interest_famille_blhbzy.jpg"
              when "amour" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723093/flashcard_interest_amour_fyguqm.jpg"
              when "argent" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723113/flashcard_interest_money_optozh.jpg"
              when "travail" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_interest_pro_2_afeocc.jpg"
              end
          %>
                      <div class="swiper__card "
               data-swipe-target="card"
               data-id="<%= profile.id %>"
               data-current="<%= current_user.id %>">
            <div class="swiper__card__content">

              <div class="swiper__card__content_top">
								<%# La partie du haut de la carte %>
              </div>
                <div class="avatar mb-2">
                <%= cl_image_tag profile.avatar_url, class: 'swiper__card__img' %>
                </div>

            <!-- Name -->
                <div class="name mt-2">
                  <h2><%= profile.name %></h2>
                </div>
            <!--info Section -->
              <div class="stats-container">
                <div class="stats-item">
                  <p>5 km</p>
                  <small>Distance</small>
                </div>
                <div class="stats-item">
                  <p><%= profile.age %></p>
                  <small>Âge</small>
                </div>
                <div class="stats-item">
                  <p><%= profile.language %></p>
                  <small>Langues</small>
                </div>
              </div>

            <!-- Reponses -->
              <section>
                <div class="container">
                  <h5 class="section-title text-center mb-4">Réponses</h5>
                  <div class="row g-3">
                    <!-- Image 1 -->
                    <div class="col-4 col-md-3">
                      <div class="h-100">
                        <%= image_tag mood_url, class: "img-fluid", alt: profile.mood, style: "border-radius: 10px; height: 120px; width: 100px" %>
                      </div>
                    </div>
                    <!-- Image 2 -->
                    <div class="col-4 col-md-3">
                      <div class="h-100">
                      <%= image_tag vacation_url, class: "img-fluid", alt: profile.vacation, style: "border-radius: 10px; height: 120px; width: 100px" %>

                      </div>
                    </div>
                    <!-- Image 3 -->
                    <div class="col-4 col-md-3">
                      <div class="h-100">
                      <%= image_tag life_choice_url, class: "img-fluid", alt: profile.life_choice, style: "border-radius: 10px; height: 120px; width: 100px" %>

                      </div>
                    </div>
                    <!-- Image 4 -->
                  </div>
                </div>
              </section>


          <!-- Events -->
              <div class="events-container mt-2">
                <h5>Événements</h5>
                <div class="event-item">
                  <div class="event-icon event1"></div>
                  <p class="event-text">Beach-Volley à Pantin</p>
                </div>
                <div class="event-item">
                  <div class="event-icon event2"></div>
                  <p class="event-text">Soirée Latino au Salsero</p>
                </div>
                <div class="event-item">
                  <div class="event-icon event3"></div>
                  <p class="event-text">Soirée Bachata au Cabaret Sauvage</p>
                </div>
              </div>




              <div class="swiper__card__content_bottom">
                <p class="swiper__card__name"></p>
                <p class="swiper__card__distance"></p>
              </div>

            </div>
            <div class="swiper__card__choice m--reject"></div>
            <div class="swiper__card__choice m--like"></div>
            <div class="swiper__card__drag"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="modal fade" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog success-modal-dialog top-30">
        <div class="modal-content success-modal-content">
          <div class="modal-body success-modal-body body-better" data-swipe-target="modalBody">

          </div>
        </div>
      </div>
    </div>
  </div>
