 <div class="profile-container">
  <!-- Profil Header -->
  <div class="profile-header">
    <div class="avatar-profil">
      <%= image_tag @user.avatar_url, class: "rounded-circle w-100 h-100 object-fit-cover", alt: "Avatar de #{@user.name}" %>
    </div>
    <div class="name">
      <strong><%= @user.name %></strong>
    </div>
  </div>

  <!-- Stats Section -->
  <div class="stats-container-profil">
    <div class="stats-item">
      <p><%= @user.age  %></p>
      <%# <small>Âge</small> %>
    </div>
    <div class="stats-item">
      <p>Paris</p>
      <%# <small>City</small> %>
    </div>
    <div class="stats-item">
      <p><%= @user.language || "Anglais" %></p>
      <%# <small>Langues</small> %>
    </div>
  </div>

  <!-- Réponses Section -->
  <%# <h5 class="section-title mt-0">Réponses</h5> %>
  <div class="answers">
    <%= image_tag "flashcard_mood_#{current_user.mood}", alt: current_user.mood unless current_user.mood.nil? %>
    <%= image_tag "flashcard_interest_#{current_user.life_choice}", alt: current_user.life_choice unless current_user.life_choice.nil? %>
    <%= image_tag "flashcard_vacances_#{current_user.vacation}", alt: current_user.vacation %>
  </div>

  <!-- Events Section -->
    <div class= "events-title">
      <h5>Évènements</h5>
    </div>
  <div class="events-container">
    <div class="event-item">
      <div class="event-icon event1"></div>
      <p class="event-text">Beach-Volley à Pantin</p>
    </div>
    <div class="event-item">
      <div class="event-icon event2"></div>
      <p class="event-text">Soirée Latino au Salsero</p>
    </div>
    <div class="event-item">
      <div class="event-icon event3"></div>
      <p class="event-text">Soirée Bachata au Cabaret Sauvage</p>
    </div>
  </div>
</div>
