 <div class="profile-container">
  <!-- Profil Header -->
  <div class="profile-header">
    <div class="avatar-profil-green">
      <%= image_tag @user.avatar_url, class: "rounded-circle w-100 h-100 object-fit-cover", alt: "Avatar de #{@user.name}" %>
    </div>
    <div class="name">
      <strong><%= @user.name %></strong>
    </div>
  </div>

  <!-- Stats Section -->
  <div class="stats-container-profil">
    <div class="grid-symp">
      <div class="stats-item-profil">
        <i class="fa-solid fa-cake-candles icone-profil"></i> <p> <%= @user.age%> yrs</p>
      </div>
      <div class="stats-item-profil">
        <i class="fa-solid fa-location-dot icone-profil"></i> <p> Paris</p>
      </div>
  </div>
    <div class="stats-item-profil">
      <i class="fa-solid fa-comment icone-profil"></i><p> <%= @user.language || "Anglais" %></p>
      <%# <small>Langues</small> %>
    </div>
  </div>

  <!-- Réponses Section -->
  <%# <h5 class="section-title mt-0">Réponses</h5> %>
  <div class="answers">
    <%= image_tag "flashcard_mood_#{current_user.mood}", alt: current_user.mood unless current_user.mood.nil? %>
    <%= image_tag "flashcard_interest_#{current_user.life_choice}", alt: current_user.life_choice unless current_user.life_choice.nil? %>
    <%= image_tag "flashcard_vacances_#{current_user.vacation}", alt: current_user.vacation %>
  </div>

  <!-- Events Section -->
    <div class= "events-title-profile">
      <h5>Events</h5>
    </div>
  <div class="events-container-profil">
    <div class="event-item-profil">
      <div class="event-icon event1"></div>
      <p class="event-text">Latino Party at Salsero</p>
    </div>
    <div class="event-item-profil">
      <div class="event-icon event2"></div>
      <p class="event-text">Basketball match</p>
    </div>
    <div class="event-item-profil">
      <div class="event-icon event3"></div>
      <p class="event-text">Movie premier at Pathé</p>
    </div>
  </div>
</div>
