 <%
  mood_url = case current_user.mood
  when "cosy" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723362/flashcard_mood_jrkyzo.jpg"
  when "drink" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_bar_warrp5.jpg"
  when "party_night" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_fete_lesxj8.jpg"
  when "museum" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_musee_fkcqae.jpg"
  else nil
  end
%>

<%
  vacation_url = case current_user.vacation
  when "montagne" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_montagne_hc31lz.jpg"
  when "plage" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_mer_snd8ic.jpg"
  when "city" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_ville_hup7qb.jpg"
  when "forêt" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723115/flashcard_vacances_foret_yff6lv.jpg"
  else nil
  end
%>

<%
life_choice_url = case current_user.life_choice
  when "famille" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723113/flashcard_interest_famille_blhbzy.jpg"
  when "amour" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723093/flashcard_interest_amour_fyguqm.jpg" 
  when "argent" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723113/flashcard_interest_money_optozh.jpg"
  when "travail" then "https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_interest_pro_2_afeocc.jpg"
  else nil
  end
%>



 <div class="profile-container">
  <!-- Profil Header -->
  <div class="profile-header">
    <div class="avatar-profil">
      <%= cl_image_tag @user.avatar_url, class: "rounded-circle w-100 h-100 object-fit-cover", alt: "Avatar de #{@user.name}" %>
    </div>
    <div class="name">
      <strong><%= @user.name %></strong>
    </div>
  </div>

  <!-- Stats Section -->
  <div class="stats-container-profil">
    <div class="stats-item">
      <p><%= @user.age  %></p>
      <%# <small>Âge</small> %>
    </div>
    <div class="stats-item">
      <p>Paris</p>
      <%# <small>City</small> %>
    </div>
    <div class="stats-item">
      <p><%= @user.language || "Anglais" %></p>
      <%# <small>Langues</small> %>
    </div>
  </div>

  <!-- Réponses Section -->
  <%# <h5 class="section-title mt-0">Réponses</h5> %>
  <div class="answers">
    <%= image_tag mood_url, alt: current_user.mood unless mood_url.nil? %>
    <%= image_tag life_choice_url, alt: current_user.mood unless life_choice_url.nil? %>
    <%= image_tag vacation_url, alt: current_user.mood unless vacation_url.nil? %>

  </div>

  <!-- Events Section -->
    <div class= "events-title">
      <h5>Évènements</h5>
    </div>
  <div class="events-container">
    <div class="event-item">
      <div class="event-icon event1"></div>
      <p class="event-text">Beach-Volley à Pantin</p>
    </div>
    <div class="event-item">
      <div class="event-icon event2"></div>
      <p class="event-text">Soirée Latino au Salsero</p>
    </div>
    <div class="event-item">
      <div class="event-icon event3"></div>
      <p class="event-text">Soirée Bachata au Cabaret Sauvage</p>
    </div>
  </div>
</div>
